*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
    background:-moz-radial-gradient(top, #2195f8, #3d5afe, #0d47a1)

}

header{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid #fff;
}

header > h1{
	padding: 5px;
	color: #fff;
	text-align: center;
	font-family: verdana, arial, cursive;
	margin-top: 40px;


}

header > h2{
	color: #fff;
	width: 100%;
	height: 40px;
	font-family: verdana, arial, cursive;
	font-size: 14px;
	text-align: center;
}

main{
	position: absolute;
	z-index: 100;
	width: 100%;
	height: auto;
	top: 230px;
    background-color: #fff;
	
}
main h1{
    font-family: verdana, arial, cursive;
    font-size: 20px;
	margin-top: 10px;
    color: black;

}

#conteudo_geral{
	width: 80%;
	margin: 0 auto;
	flex-direction: column;
	
}

.box_custom{
	width: 100%;
	height: auto;

}

a{
	
	text-decoration: none;
	color: #000;
}

form{
	width: 400px;
	height: auto;
	padding: 10px;
}

.flex{
	display: flex;
}

.mic {
    color:#0d47a1;
}

.justify-content{
	justify-content: center;
}

.display-btn{
	width: 100%;
	height: auto;
	padding-top: 4px;
}

.btn{
	padding: 8px;
	width: 100%;
	border: none;
	border-radius: 3px;
	background-color:#3d5afe;
	color: #fff;

}

form > label{
	border: 1px solid black;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	font-family: verdana,cursive;
}

form > label > input[type=text]{
	font-size: 14px;
	border: none;
	padding: 4px;
}

#logo-principal{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #fff;
	align-items: center;

}

#logo-principal .logo{
	font-size: 85px;
}

#content-base{
	width: 100%;
	height: auto;
	position: absolute;
	top: 120px;
}
	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	background-color: #2195f8;
    
}

header{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid #fff;
}

header > h1{
	padding: 5px;
	color: #fff;
	text-align: center;
	font-family: verdana, arial, cursive;
	margin-top: 40px;


}

header > h2{
	color: #fff;
	width: 100%;
	height: 40px;
	font-family: verdana, arial, cursive;
	font-size: 14px;
	text-align: center;
}

main{
	position: absolute;
	z-index: 100;
	width: 100%;
	height: auto;
	top: 230px;
	
}

#conteudo_geral{
	width: 80%;
	margin: 0 auto;
	flex-direction: column;
	
}

.box_custom{
	width: 100%;
	height: auto;

}

a{
	text-decoration: none;
	color: #000;
}

form{
	width: 400px;
	height: auto;
	padding: 10px;
}

.flex{
	display: flex;
}

.justify-content{
	justify-content: center;
}

.display-btn{
	width: 100%;
	height: auto;
	padding-top: 4px;
}

.btn{
	padding: 8px;
	width: 100%;
	border: none;
	border-radius: 3px;
	background-color: #3d5afe;
	color: #fff;

}

form > label{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	font-family: verdana,cursive;
}

form > label > input[type=text]{
	font-size: 14px;
	border: none;
	padding: 4px;
}

#logo-principal{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #fff;
	align-items: center;

}

#logo-principal .logo{
	font-size: 85px;
}

#content-base{
	width: 100%;
	height: auto;
	position: absolute;
	top: 120px;
}
